<!DOCTYPE html>
<html>
  <head>
    <title>index.html</title>
	
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    
	<link rel="stylesheet" type="text/css" href="../css/base.css">
	
	<script type="text/javascript">
		function showHome(){
			alert("test");
		
		}
	
	</script>
	
	
  </head>
  
  <body>
  	<h1>My Book Store</h1>
  	
  	<div>
  		<input type="button" value="首页" onclick=showHome()>
  	
  	
  	</div>
  		
  
  
  </body>
</html>
